.DS_Store
node_modules
/dist
.idea
/coverage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
flo-logs/*
libs/flo-logs/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron

yarn.lock
package-lock.json

# Native module files
Debug
.vs
/src/hot-keys/ItemHotkeys/send-keys-native/build/

.yarn
.pnp.*